
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/*++++++++++++++
MAIN PAGE
++++++++++++++*/

.mainPagePic {
	height: 325px;
}

/*++++++++++++++
BIO PAGE
++++++++++++++*/
.canyon{
	height: 175px;
	padding-right: 10px;
	padding-bottom: 5px;
}

.decker{
	height: 240px;
	padding-left: 10px;
	padding-bottom: 5px;
}

#quote{
	margin-top: 40px;
	margin-bottom: 40px;
}

@media (max-width: 768px){
	#bioContainer{
		margin-bottom: 75px;
	}
}

/*++++++++++++++
BIO PAGE
++++++++++++++*/
.portfolioItems{
	margin-top: 50px;
}


/*++++++++++++++
CONTACT PAGE
++++++++++++++*/

.successMail{
	height: 60px;
	line-height: 60px;
}

.errorMail{
	height: 60px;
	line-height: 60px;
}

.buttonHolder{
	text-align: center;
}

#buttonHolder{
	text-align: center;
}

.contactHeading{
	margin-top: 30px;
}

@media (max-width: 400px){
	.section.no-pad-bot{
		height: 650px;
	}
}

@media (max-width: 768px){
	
}


/*++++++++++++++
PORTFOLIO PAGE
++++++++++++++*/
.portfolioCardHolder{
	/*margin-bottom: 60px;*/
}

.portfolioCard{
	max-height: 350px;
	width: 90%;
	margin-bottom: 70px;
	margin-left: auto;
	margin-right: auto;
}

.portfolioScreenshot{

}

.portfolioFeatures{
	list-style-type: circle;
}

@media (max-width: 768px){
	form{
		margin-bottom: 200px;
	}
}

@media (max-width: 360px){
	form{
		margin-bottom: 200px;
	}
}

/*++++++++++++++
FOOTER
++++++++++++++*/

.socialLink{
	height: 40px;
	margin-left: 5px;
	margin-right: 5px;
}

.footerNav{
	color: white;
}

.footerNav:hover{
	color: #29b6f6;
}

