
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/*++++++++++++++
MAIN PAGE
++++++++++++++*/

.mainPagePic {
	height: 225px;
}

/*++++++++++++++
BIO PAGE
++++++++++++++*/
.canyon{
	height: 135px;
	padding-right: 10px;
	padding-bottom: 5px;
}

.decker{
	height: 220px;
	padding-left: 10px;
	padding-bottom: 5px;
}

#quote{
	margin-top: 40px;
	margin-bottom: 40px;
}

/*++++++++++++++
BIO PAGE
++++++++++++++*/
.portfolioItems{
	margin-top: 50px;
}


/*++++++++++++++
CONTACT PAGE
++++++++++++++*/

.successMail{
	height: 60px;
	line-height: 60px;
}

.errorMail{
	height: 60px;
	line-height: 60px;
}

.buttonHolder{
	text-align: center;
}

#buttonHolder{
	text-align: center;
}



